@model OBGpgm.Models.Team

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Team</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SessionId" class="control-label"></label>
                <select asp-for="SessionId" class ="form-control" asp-items="ViewBag.SessionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Division" class="control-label"></label>
                <input asp-for="Division" class="form-control" />
                <span asp-validation-for="Division" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamNumber" class="control-label"></label>
                <input asp-for="TeamNumber" class="form-control" />
                <span asp-validation-for="TeamNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamName" class="control-label"></label>
                <input asp-for="TeamName" class="form-control" />
                <span asp-validation-for="TeamName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TeamPoints" class="control-label"></label>
                <input asp-for="TeamPoints" class="form-control" />
                <span asp-validation-for="TeamPoints" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsChampion" /> @Html.DisplayNameFor(model => model.IsChampion)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="IsRunnerUp" class="control-label"></label>
                <input asp-for="IsRunnerUp" class="form-control" />
                <span asp-validation-for="IsRunnerUp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
