@model OBGpgm.Models.Payout

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Payout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SessionId" class="control-label"></label>
                <select asp-for="SessionId" class ="form-control" asp-items="ViewBag.SessionId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TeamId" class="control-label"></label>
                <select asp-for="TeamId" class ="form-control" asp-items="ViewBag.TeamId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Players" class="control-label"></label>
                <input asp-for="Players" class="form-control" />
                <span asp-validation-for="Players" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CaptainId" class="control-label"></label>
                <input asp-for="CaptainId" class="form-control" />
                <span asp-validation-for="CaptainId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player1Id" class="control-label"></label>
                <input asp-for="Player1Id" class="form-control" />
                <span asp-validation-for="Player1Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player2Id" class="control-label"></label>
                <input asp-for="Player2Id" class="form-control" />
                <span asp-validation-for="Player2Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player3Id" class="control-label"></label>
                <input asp-for="Player3Id" class="form-control" />
                <span asp-validation-for="Player3Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Player4Id" class="control-label"></label>
                <input asp-for="Player4Id" class="form-control" />
                <span asp-validation-for="Player4Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TotalPayout" class="control-label"></label>
                <input asp-for="TotalPayout" class="form-control" />
                <span asp-validation-for="TotalPayout" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Individual" class="control-label"></label>
                <input asp-for="Individual" class="form-control" />
                <span asp-validation-for="Individual" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
