html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 900px;
    height: 625px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #bbb;
    color: black;
}

/* Style the back side */
.flip-card-back {
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}

/* End of css for flip-cards */

/* Start of css for Schedule */
.schedSm {
    border: 1px solid gray;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
    width: 7%;
}
.sched {
    border: 1px solid gray;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
}
/* End of css for schedule */

/* toggle show/hide eye on password */
.password-section .fa-eye-slash {
    position: relative;
    display: inline-block;
}

.password-section .fa-eye{
    position: absolute;
    top: 30%;
    right: 3%;
    transform: translateY(-50%);
    cursor: pointer;
}
.password-section .fa-eye-slash {
    position: absolute;
    top: 30%;
    right: 3%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* end of toggle show/hide eye on password */